body {
    background-image:url(http://youbentmywookie.com/wookie/gallery/0513_wtf/True%20Facts%20About%20The%20Aye%20Aye_feat.jpg);
}

.container {
    background-color: lightblue;
}

.fact-title {
    color: black;
    width: 200px;
}

.col {
    background-color: blueviolet;
}

h1 {
    color:darkblue;
    text-decoration: underline;
}

.q1 {
    background: lightgoldenrodyellow;
}

.q3 {
    background: lightsalmon;
}